#myGiphyColumnOne {
    border: 2px solid black;
}

#myGiphyColumnTwo {
    border: 2px solid black;
}

#myGiphyColumnThree {
    border: 2px solid black;
}

#placehere {
    border: 2px solid black;
}